hcp_client_id       = ""
hcp_client_secret   = ""
hcp_project_id      = ""

gemini_api_key      = ""
prisma_airs_api_key = ""
prisma_airs_profile = ""

db_password = ""  # set up a strong password for the database to be created by Terraform (careful with special chars - not everything is accepted by AWS!)